.navbar-nav .show>.nav-link {
  color: rgb(255 255 255 / 90%);
}
.nav-link .nav-link:focus, .nav-link:hover {
  color: rgb(255 255 255 / 90%);
}
.nav-link  {
  color: #efb428 !important;
}
.donate-Button  {
  background-color: #000000 !important ;
  color:   #efb428 !important;
  border: none;
  font-style: italic;
  box-shadow: none;
  
} 
.donate-Button:focus {
   box-shadow: none;
}
.donate-Button:active {
   box-shadow: none;
}
.content{
  font-size: 1.5em !important;
}
.gradient{
  background: linear-gradient(to top, #000000 0%, #efb428 65%);
}

.point-img{
  width: 1em;
  height: 1em;
 
}

